<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backgom.backgomwineback.repository.ClubListRepository">
    <insert id="createClub">


    </insert>

    <select id="getClubListByClubId" parameterType="java.util.List" resultType="ClubList">
        SELECT * FROM clubList c
        <where>
            <foreach collection="list" item="item"
                     open="c.id IN (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="getClubLists" resultType="ClubList">
        SELECT * FROM clubList
        <where>
            <if test="id != null and id != ''">
                id = #{dto.id}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.clubSubject}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.bungae}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.jungmo}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.clubSubject}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.clubSubject}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.clubSubject}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.clubSubject}
            </if>
            <if test="clubSubject != null and clubSubject != ''">
                clubSubject = #{dto.clubSubject}
            </if>
        </where>
    </select>


</mapper>
